.menu {
    text-align: right;
    overflow: hidden;
    font-size: 1.2vw;
}
.menu p {
    padding: 10px;
}
.menu a {
    color: black;
    text-decoration: none;
}
.menu .active {
    background: teal;
    color: black;
    border: 5px solid teal;
}
.menu .active {
    color: white;
}

.nav {
    background: teal;
    color: white;
    border: 10px solid teal;
    font-size: 1vw;
}
.nav form {
    float: right;
    margin-top: -3px;
}
.nav [type="button"] {
    background: dodgerblue;
    color: white;
    border-radius: 5px;
    border: dodgerblue;
    font-size: 1vw;
}
.nav [type="text"] {
    font-size: 1vw;
}

.main {
    width: 95%;
    margin: auto;

}
img {
    width: 100%;
    height: 100%;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 10px;
}
.small {
    width: 30%;
    height: 100px;
    overflow: hidden;
}
.big {
    width: 68%;
    height: 100px;
    overflow: hidden;
}
.photos img {
    margin: 6px;
    object-fit: cover;
}

.aparts_grid {
    display: grid;
    /* grid-row-gap: 10px; */
    grid-template-columns: repeat(3, 33.33%);
}
.aparts_grid div {
   overflow: hidden;
}
.first_big_apart {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;     
}
.second_big_apart {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2; 
}
.main input {
    display: block;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
    font-size: 0.9vw;
    margin-top: 5px;
    float: right;
}

h2 {
    text-align: center;
    font-size: 1vw;
}
.text {
    text-align: justify;
    font-size: 1vw;
    border: 10px solid white;
}

.big_block {
    display: grid;
    grid-template-rows: 0.2fr 2fr;
}
.right_img {
    grid-template-columns: 2fr 1fr;
}
.left_img {
    grid-template-columns: 1fr 2fr;
}
.big_block h2 {
    grid-row: 1;
    grid-column: 1 / span 2;
} 
.big_block .left_but {
    float: none;
}

.small_block {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(2, 50%);
    border-left: 2px solid black;
    margin-left: 5px;
}
.small_block .text {
    font-size: 0.6vw;
}
.small_block h2 {
    font-size: 0.6vw;
    text-align: right;
    padding-right: 5px;
}
.small_block .image {
    grid-row: 1 / -1;
    grid-column: 2;
    margin: 8px 0;
}
.small_block input {
    font-size: 0.6vw;
}

@media (max-width: 800px){
    .menu {
        text-align: center;
        font-size: 2.4vw;
    }
    .nav {
    font-size: 2.4vw;
    }
    .nav form {
        margin-top: -2px;
    }
    .nav [type="button"] {
        font-size: 2vw;
    }
    .nav [type="text"] {
        font-size: 2vw;
    }
    .photos div {
        width: 100%;
        height: 50px;
    }
    .aparts_grid h2 {
        font-size: 2.2vw;
    }
    .aparts_grid .text {
        font-size: 2vw;
    }
    .small_block {
        border: none;
    }
    .aparts_grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }
    .aparts_grid input {
        font-size: 2vw;
    }
    .first_big_apart {
    grid-row: 1;
    grid-column: 1;     
    }
    .second_big_apart {
    grid-row: 2;
    grid-column: 1; 
    }
}
